.box {
  height: 18vh;
  width: 15vw;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boximg {
  max-height: 100%;
  width: -webkit-fill-available;
}

@media screen and (max-width: 600px) {
  .box {
    width: 50vw;
    height: 30vh;
  }
}
